/* El contingut del footer amb les xarxes socials i dades de contacte */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    flex: 1 100%;
    order: 5;
}

footer li {
    display: inline-block;
    margin: 10px;
}

.dades-contacte h3 {
    margin: 5px;
}

.dades-contacte p {
    padding-bottom: 20px;
    padding-right: 10px;
    display: block;
    padding: 5px;
}

footer .fa {
    padding-top: 5px;
    width: 30px;
    height: 20px;
    text-decoration: none;
    margin: 0 auto;
    border-radius: 5px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #be24ac;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}