/* El contingut principal de la secció consells i trucs */
* {
    padding: 0;
    margin: 0;
}

#container {
    font-family: Arial, Helvetica, sans-serif;
    flex-flow: row wrap;
    display: flex;
    background-color: #FFDAB9;
}

/* El header on conté el títol */
#header_wrapper {
    opacity: 0.7;
    background-color: #8B4513;
    background-image: url("/main/images/sweet-pastry-assortment-top-view.jpg");
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px 0px;
    text-shadow: 2px 2px 2px black;
    color: white;
    flex: 1 100%;
    order: 1;
}

.header_content h1 {
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 40px;
    opacity: 1;
    font-family: "Lucida Handwriting", cursive;
    transition: opacity 1s;
}

.header_content h1:hover {
    opacity: 1;
}

/* Estilització del menú hover/dropdown */
.dropdow_nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    order: 3;
    flex: 1 100%;
  }
.dropdownButton a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: white;
}
.dropdownButton {
    background-color: #FF7F50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 80%;
    margin-bottom: 20px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #F9F9F9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 12px 16px;
    margin-top: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }
  
  /* Animació per simular el dropdown menu */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }  
  .dropdown-menu li {
    display: block;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FF7F50;
    box-shadow: 2px 2px 5px black;
    width: 80%;
    text-align: center;
    margin: 10px auto;
  }

.dropdown-menu li>a {
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    font-weight: 800;
}

.dropdown-menu li:hover {
    background-color: #fa7861;
    box-shadow: 0 0 0;
}

.dropdow_nav:hover .dropdown-menu {
    display: block;
}

.dropdow_nav:hover .dropdownButton {
    background-color: #FFDAB9;
}

/* Estilització del contingut principal amb els consells/trucs */
.carousel-container {
    display: flex;
    overflow: hidden;
    width: 800px;
    height: 900px;
    margin: 0 auto;
    order: 4;
    text-align: center;
    justify-content: center;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out;
  }

.arrow {
    position: absolute;
    top: 445px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 50%;
}

.arrow i {
    font-size: 22px;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.prev {
    left: 285px;
}

.next {
    right: 255px;
}

.carousel-slide #img_and_p {
    background-color: white;
    box-shadow: 2px 2px 5px black;
    width: 700px;
    height: 700px;
    margin: 0 60px 50px 80px;
    padding-top: 40px;
    position: relative;
    border-radius: 20px;
    font-family: "Lucida Handwriting";
}

.carousel-slide h2 {
    margin: 80px 0;
    border-bottom: dashed;
    width: 700px;
    margin: 0 60px 50px 80px;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff7f50;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.carousel-slide p {
    padding: 5px 5px 15px 5px;
    width: 500px;
    margin: 0 auto;
    font-size: 0.75em;
}

.carousel-slide .image_container {
    width: 375px;
    height: 375px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: transform 1s;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_container:hover {
    transform: scale(1.6);
}

/* Visualització de com és mostraria el menu i les fletxes a una pantalla inferior a 550px */
@media (max-width: 550px) {
    section {
        order: 4;
    }

    .nav_tips {
        order: 3;
    }

    .nav_tips li {
        margin: 10px 10px 0 85px;
    }
    
    .dropdownButton {
        margin-top: 50px;
    }
    .prev {
        left: 65px;
    }

    .arrow {
        top: 450px;
    }

    .next {
        right: 45px;
    }
}